div.fm_page {
    background-image: url("../images/bg/bokeh_iphone_home.png");
    background-repeat: round;
}

div.fm_header {
    color: rgb(255, 255, 255);
    font-size: 36px;
}

a.fm_yellowBtn {
    color: rgb(0, 0, 0);
    font-size: 30px;
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
	width: 540px;
	height: 100px;
}

a.fm_yellowBtn_s{
	color: rgb(0, 0, 0);
    font-size: 30px;
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	width: 235px;
	height: 35px;
}

div.fm_overlay {
    font-size: 24px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
	width: 600px;
	height: 660px;
}

div.fm_content{	padding: 0px;}


a.fm_grayBtn {
    color: rgb(255);
    font-size: 30px;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	width: 540px;
	height: 100px;
}

a.fm_grayBtn_s{
	color: rgb(255);
    font-size: 30px;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
    width: 235px;
	height: 35px;
}

iframe.fm_video {
    width: 640px;
    height: 360px;
}

ul.fm_videoList{
    
}

div.fm_videoItem {
    background: rgb(0, 0, 0);
    width: 640px;
    height: 415px;
}

li.fm_videoItem {
    background: rgb(0, 0, 0);
    width: 640px;
    height: 415px;
}

div.fm_setting_popup {
    width: 640px;
    height: 960px;
    background-image: url("../images/bg/bokeh_iphone_home.png");
    border-style: none;
}

img.fm_icon{
    width: 20px;
    height: 20px;
}

img.fm_setting_icon{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 295px;
}
span.fm_like_num {
    font-size: 24px;
}

span.fm_comment_num {
    font-size: 24px;
}

span.fm_txt{
    font-size: 24px;
}

div.fm_collapsible{
    background: rgba(0, 0, 0, 0);
    border-style: none;
    border-top-style: none;
	width: 640px;
	height: 55px;
}

p.fm_txt{
    font-size: 24px;
}

li.fm_listItem {
    background: rgba(0, 0, 0, 0.3);
}

a.fm_collapsible_heading_toggle{
    background: rgba(0, 0, 0, 0);
    border-style: none;
    border-top-style: none;
}

div.fm_comment {
    font-size: 24px;
    background: rgba(0, 0, 0, 0);
    background-image: url("../images/bg/comment_bg1.png");    
}

h2.fm_comment_header {
    background: rgba(0, 0, 0, 0);
    border-style: none;
    border-top-style: none;
}
a.fm_settingBtn {
    font-size: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

/*GZ*/
.blackBtn {
    background:rgba(0, 0, 0, 0.3);
    margin:0;
    text-align:center;
    font-size:0px;
}
.blackBtn * {vertical-align:middle;}
.blackBtn i {height:100%;
    display:inline-block;
}

#photo_cropper_container > div {
    margin:0 auto;
}

